*{
    box-sizing: border-box;
}
header{
    text-align: center;
}
section{
    border: solid 1px;
    width: 50%;
    height: 500px;
    float: left;
}

#options{
    text-align: center;
    width: 100%;
}

.hidden{
    display: none;
}

#cookResults{
    /*
    display: flex;
    flex-direction: column;
*/
    list-style: none;
    text-align: left;
}
/*
#cookResults img{
    float: left;
}*/

#restaurantResults{/*
    display: flex;
    flex-direction: column;*/
    list-style: none;
}
/*
#restaurantResults li{
    text-align: left;
}
*/

#cautions{
    list-style: none;
}
/*
#cautions li{
    float: left;
    padding-left: 1em;
}

#cautions ul::after{
    clear: right;
}*/